@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-foreground: 26 18 11;
    --color-foreground-secondary: 49 54 63;

  }
  :root.dark {
    --color-foreground: 229 229 203;
    --color-foreground-secondary: 180 180 184;

  }
}
